<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update-instructor</title>
</head>
<body>
<form
        th:action="@{/{courseId}/{id}/updateInstructor(id=${instructor.id}, courseId=${courseId})}"
        th:object="${instructor}"
        method="post"
        style=" background:navajowhite;width: 300px; border-radius:10px;margin: 100px 500px;height: 300px;
            border: 2px solid black;padding-top: 50px;padding-left: 25px;font-size: 15px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

    <input type="hidden" name="id" th:field="*{id}">
    <div style="display:flex ;flex-direction: column;justify-content: space-between;height: 25%;">
        <label>
            <input style=" background: none;color: black; width: 90%;outline: none;border:none;border-bottom: 1px solid white; "type="text" name="firstName" th:field="*{firstName}" placeholder="First Name" required>
        </label>
    </div>
    <label>
        <input style=" background: none;color: black; width: 90%;outline: none;border:none;border-bottom: 1px solid white; "type="text" name="lastName" th:field="*{lastName}" placeholder="Last Name" required>
    </label>
    <br><br>
    <label>
        <input style=" background: none;color: black; width: 90%;outline: none;border:none;border-bottom: 1px solid white; "type="text" name="phoneNumber" th:field="*{phoneNumber}" placeholder="Image" required>
    </label>
    <br><br>
    <label>
        <input style=" background: none;color: black; width: 90%;outline: none;border:none;border-bottom: 1px solid white; "type="text" name="email" th:field="*{email}" placeholder="Email" required>
    </label>
    <br><br>
    <label>
        <input style=" background: none;color: black; width: 90%;outline: none;border:none;border-bottom: 1px solid white; "type="text" name="specialization" th:field="*{specialization}" placeholder="Specialization" required>
    </label>
    <br><br>
    <button style="margin-top: 30px;border: none;width: 90%;border-radius: 20px; background: #242249;color: white; "type="submit" >Add</button>


</form>
</body>
</html>